<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1><img src="{{ url_for('custom_static', filename='Blog Posts.svg') }}" alt="My Blog"></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/new-post">New Post</a>
        </nav>
    </header>
    <main>
        <div class="post-container">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <button><a href="{{ url_for('edit_post', id=post.id) }}">Edit Post</a></button>
            <form action="{{ url_for('delete_post', id=post.id) }}" method="post">
                <button type="submit">Delete Post</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
